body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./components/background.png");
  /* border: 1px solid black; */
}
#root {
  min-height: 100%;
  height: 100%;
}
