@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900i|Teko&display=swap");

.receiptBigBox {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.receiptMain {
  border: 2px solid pink;
  width: 98%;
  display: flex;
  flex-direction: column;
}
.receiptLogoMenu {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 20%;
}
.receiptMenuBox {
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.receiptSavrLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-style: italic;
  font-size: 3rem;
  border: 2px solid pink;
}
.receiptUploaderBox {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.receiptConfirm {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
