@import url("https://fonts.googleapis.com/css?family=Denk+One|Mouse+Memoirs|Nunito&display=swap");

.selectBudgetButton {
  border: 2px solid black;
  background-color: #fff0bb;
  border-radius: 1rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #688cbb;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 0.2em;
  width: 50%;
  margin: 5px;
  margin-top: 5%;
}
.selectForm {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Nunito", sans-serif;
  margin-top: 10%;
}
