@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

.confirmBigBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
.confirmCenter {
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff0bb;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}
.confirmTitle {
  /* border: 2px solid black; */
  font-family: "Mouse Memoirs", sans-serif;
  color: #22487a;
  font-size: 1.3rem;
  text-shadow: 1.5px 1px #ffb183;
  align-self: center;
}
.confirmTotalInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirmTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}
.confirmCommentsInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}
.confirmComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}
.confirmCategoriesInput {
  margin: 5%;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(245, 247, 249, 1);
}
.confirmCategories {
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10%;
  text-align: center;
}

.confirmCategories ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.confirmCategories ul li {
  margin: 10px;
}

.confirmCategoryTitle {
  padding-bottom: 1rem;
}
.confirmSubmitButton {
  width: 100%;
  border: 2px solid black;
  background-color: #688cbb;
  border-radius: 1rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #ffb183;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 0.2em;
}
