h1 {
  border: 1px solid black;
  display: flex;
}

.main {
  border: 1px solid red;
  display: flex;
}

.form {
  border: 1px solid blue;
  display: flex;
}

.comment {
  border: 1px solid green;
  display: flex;
}

.total {
  border: 1px solid pink;
  display: flex;
}

.categories {
  border: 1px solid purple;
  display: flex;
}
