@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

.createBigBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.createCenter {
  background: #fff0bb;
  margin-top: 2%;
  margin-right: 3%;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}
.createTitle {
  font-family: "Mouse Memoirs", sans-serif;
  color: #22487a;
  font-size: 1.3rem;
  text-shadow: 1.5px 1px #ffb183;
  align-self: center;
}
.createTotalInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.createTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}
.createCommentsInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}
.createComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}
.createCategoriesInput {
  margin: 5%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
}
.createCategories {
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10%;
  text-align: center;
}

.createCategories li {
  justify-content: center;
  padding: 3%;
  margin: auto;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}

.createCategoryTitle {
  font-family: "Mouse Memoirs", sans-serif;
  color: #22487a;
  font-size: 2em;
  text-shadow: 1.5px 1px #ffb183;
  align-self: center;
  padding-bottom: 10%;
}
.savrLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-style: italic;
  font-size: 3rem;
}

.createExpenseLogoMenu {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 20%;
  background: url("logo.png");
}
.createExpenseMenuBox {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  justify-content: center;
}
