/* <link href="https://fonts.googleapis.com/css?family=Montserrat|Teko&display=swap" rel="stylesheet"> */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900i|Teko&display=swap");

.indexMain {
  display: flex;
  flex-direction: column;
}
.savrLogo {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-style: italic;

  font-size: 100px;
}
