@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

.indexBigBox {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: space-around; */
}
.indexMain {
  /* border: 1px solid black; */
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: url("background.png"); */
  font-family: "Roboto", sans-serif;
  background-repeat: repeat;
}
.savrLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-style: italic;
  font-size: 3rem;
}

.indexLogoMenu {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 20%;
  background: url("logo.png");
}
.indexMenuBox {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: ;
  font-weight: 600;
  font-size: 1.3em;
  justify-content: center;
}
.indexBudgetName {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.indexIncomeExpenses {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.indexIncome {
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  text-align: center;
  width: 30%;
  margin: 5%;
  flex-direction: column;
  background: rgba(242, 255, 243, 1);
}
.invisiDiv {
  width: 20%;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
}

.nestedInvisiDiv {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  border: 2px solid black;
  border-radius: 10px;
  background: lightblue;
  float: center;
}

.indexExpenses {
}

.indexExpensesOverview {
  border: 2px solid black;
  border-radius: 1em;
  margin: 5%;
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 1em;
  text-align: center;
  background: rgba(247, 237, 237, 1);
}

.indexCategoryHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indexCategory {
  background: rgba(245, 247, 249, 1);
  margin: 5%;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.emailButton {
  border-radius: 10px;
  font-weight: bold;
}
