.loginBigBox {
  border: 2px solid fuchsia;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: space-around; */
}
.loginMain {
  border: 2px solid fuchsia;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginTitle {
  border: 2px solid fuchsia;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loginForm {
  border: 2px solid fuchsia;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loginCentered {
  border: 2px solid fuchsia;
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginFormContent {
  border: 2px solid fuchsia;
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
