.uploadInput-group {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  background: rgba(245, 247, 249, 1);
}
.uploadTitle {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.custom-file {
  border: 0.1em solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
