.uploadInput-group {
  background: #fff0bb;
  margin-top: 2%;
  margin-right: 3%;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}
.uploadTitle {
  font-family: "Mouse Memoirs", sans-serif;
  color: #22487a;
  font-size: 1.3rem;
  text-shadow: 1.5px 1px #ffb183;
  align-self: center;
}
.custom-file {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.uploadSubmitButton {
  display: flex;
  justify-content: center;
}

.uploadFileButton {
  display: flex;
  flex-direction: row;
  float: left;
}
